 .disaster-feed {
  display: flex;
  flex-direction: column;
}

.notice-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-height: 250px;
  overflow-y: auto;
  padding-right: 6px;
}

.notice{
  display: flex;
  color: black;
  background-color: rgb(244, 238, 238);
  height: 2.8vw;
  border-radius: 3px;
  justify-content: inline;
  /* justify-items: center; */
}