#disaster-type,
#location,
#file
{
    height: 30px;
    
  
}
#disaster-type,
#location,
#describe-situation {
  background-color: #f9fafb;
  color: #111827;
  border: 1px solid #d1d5db;
  
}
#location{
  width: 90.3vw;
  height: 13px;
}

#describe-situation {
  width: 100%;
  min-height: 80px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  resize: vertical;   /* allows only vertical resizing */
  box-sizing: border-box;
  margin-top: -1vw;
}

#submit-button {
 background-color: #f97316;
  color: white;
  border: none;
  margin-left: 25vw;
}

#submit-button:hover {
  background-color: #ea580c;
}